@import "compass/css3";
@import "definitions";

#crop-modal {

  .jcrop-wrapper {
    float: left;
    border: 1px solid darken($light-gray, 10);
    padding: 1px;
    clear: both;

    img {
      max-width: none;
      max-height: 350px;
    }
  }

  a.disabled {
    text-decoration: none;
  }

  .crop-options {
    float: left;
  }

  .preview {
    .jcrop-wrapper {
      width: 133px;
      height: 100px;
      overflow: hidden;
    }

    font-weight: bold;
    padding: 10px 0px 5px 20px;
    display: none;
    float: left;
  }
}
